*
	padding: 0
	margin: 0

// Colors
$primaryOrangeColor: #fd7936
$secondaryOrangeColor: #fb6316
$primaryGreenColor: #37b719
$secondaryGreenColor: #13B70C
$tertiaryGreenColor: #289e0c
$lightestGreenColor: #f0faed
$primaryBlueColor: 	#003663
$secondaryBlueColor: #012544
$primaryRedColor: 	#e44
$secondaryRedColor: #f13232

// Colors
$colorDark: #666
$colorDarkest: #222
$colorDarker: #444
$colorBrightest: #f9f9f9
$colorLightest: #eee
$colorLighter: #ccc
$colorLight: #aaa

// Payment Method Hover
.payment-method-hover
	&:hover
		border: 2px solid $primaryOrangeColor
		cursor: pointer
		padding: 20px
		div
			color: $primaryOrangeColor !important
.payment-method-selected
	border: 2px solid $primaryOrangeColor !important
	cursor: pointer
	padding: 20px
	&:hover
		border: 2px solid $primaryOrangeColor

.payment-option-hover
	border: 2px solid transparent
	&:hover
		border: 2px solid $primaryOrangeColor
		cursor: pointer
		border-radius: 20px
		div
			color: $primaryOrangeColor !important

// Container
.d-container
	width: 1100px
	margin: 0 auto

// Opacity 
.d-opacity-full
	opacity: 1
.d-opacity-\.9
	opacity: .9
.d-opacity-\.8
	opacity: .8
.d-opacity-\.7
	opacity: .7
.d-opacity-\.6
	opacity: .6
.d-opacity-\.5
	opacity: .5
.d-opacity-\.4
	opacity: .4
.d-opacity-\.3
	opacity: .3
.d-opacity-\.2
	opacity: .2
.d-opacity-\.1
	opacity: .1
.d-opacity-0
	opacity: 0

// Transitions
.fade-enter-active, .fade-leave-active 
  transition: opacity .5s

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ 
  opacity: 0 

// V-cloak
[v-cloak] 
	display: none

// Box Sizing
.d-box-sizing-border-box
	box-sizing: border-box

// Sidebar Customized
.d-quicklinksActive
	background-color: #fff
	box-shadow: 0 5px 35px -15px rgba(0,0,0, .65)
	border-left: 2px solid $primaryOrangeColor !important
	text-decoration: none !important
	&:hover
		background-color: #fff !important

.d-quicklinksActiveLive
	background-color: #fff
	box-shadow: 0 5px 35px -15px rgba(0,0,0, .65)
	border-left: 2px solid $primaryGreenColor !important
	text-decoration: none !important
	&:hover
		background-color: #fff !important

// General Element
input
	&:focus
		border: 1px solid $primaryOrangeColor !important


.placeholder\:\:d-color-lightest
	&::placeholder
		color: $colorLightest
.placeholder\:\:d-color-lighter
	&::placeholder
		color: $colorLighter
.placeholder\:\:d-color-light
	&::placeholder
		color: $colorLight
.placeholder\:\:d-color-dark
	&::placeholder
		color: $colorDark
.placeholder\:\:d-color-darker
	&::placeholder
		color: $colorDarker
.placeholder\:\:d-color-darkest
	&::placeholder
		color: $colorDarkest

// Keyframes
@keyframes spin
	0%
		transform: rotate(0deg)
	100%
		transform: rotate(360deg)

@keyframes loading
	0%
		left: 0
	100%
		left: 100%

@keyframes line-loading
	0% 
		left: -150% 
	30%
	100% 
		left: 150%

.d-with-loader
	position: relative !important

.d-loader
	top: 0
	left: 0
	position: absolute
	width: 100%
	height: 100%
	display: flex
	justify-content: center
	align-items: center
	z-index: 200
	top: 0
	left: 0
	background-color: rgba(255,255,255,.75)
	.d-loader-circle
		width: 60px
		height: 60px
		border-left: 7px solid $colorLightest
		border-bottom: 7px solid $colorLightest
		border-top: 7px solid $primaryOrangeColor
		border-right: 7px solid $primaryOrangeColor
		animation: spin 1s linear infinite
		border-radius: 50%

// Animations
.d-loadingLine
	background-color: #ffa07c;
	&::before
		content: ' '
		width: 150%;
		height: 2px;
		top: 0;
		left: 0;
		position: absolute;
		background-color: #f97735;
		left: -150%;
		animation: line-loading 1s linear infinite;


.d-loadingContentParent
	position: absolute
	width: 100%
	height: 100%
	background-color: transparent
	&::before
		content: ' '
		position: absolute
		top: 0
		left: 0
		width: 35%
		height: 100%
		background: linear-gradient(to right, #eee, #d8d8d8 30%, #eee 85%)
		// background-color: $primaryOrangeColor; 
		animation: 1s infinite ease-in loading

// Customized Old Value
.d-oldValue
	position: relative
	&::before 
		  position: absolute
		  top: calc(50% - 1px)
		  left: 50%
		  margin-left: -17.5%
		  width: 35%
		  height: 1px
		  background-color: #bbb
		  content: " "

// Border Radius
.d-border-radius-full
	border-radius: 100%
.d-border-radius-half
	border-radius: 50%
.d-border-radius-20px
	border-radius: 20px
.d-border-tl-radius-20px
	border-top-left-radius: 20px !important
.d-border-tr-radius-20px
	border-top-right-radius: 20px !important
.d-border-br-radius-20px
	border-bottom-right-radius: 20px !important
.d-border-bl-radius-20px
	border-bottom-left-radius: 20px !important
.d-border-radius-10px
	border-radius: 10px
.d-border-tl-radius-10px
	border-top-left-radius: 10px !important
.d-border-tr-radius-10px
	border-top-right-radius: 10px !important
.d-border-br-radius-10px
	border-bottom-right-radius: 10px !important
.d-border-bl-radius-10px
	border-bottom-left-radius: 10px !important
.d-border-radius-5px
	border-radius: 5px
.d-border-tl-radius-5px
	border-top-left-radius: 5px !important
.d-border-tr-radius-5px
	border-top-right-radius: 5px !important
.d-border-br-radius-5px
	border-bottom-right-radius: 5px !important
.d-border-bl-radius-5px
	border-bottom-left-radius: 5px !important
.d-border-radius-2px
	border-radius: 2px
.d-border-tl-radius-2px
	border-top-left-radius: 2px !important
.d-border-tr-radius-2px
	border-top-right-radius: 2px !important
.d-border-br-radius-2px
	border-bottom-right-radius: 2px !important
.d-border-bl-radius-2px
	border-bottom-left-radius: 2px !important
.d-border-radius-0
	border-radius: 0
.d-border-tl-radius-0
	border-top-left-radius: 0 !important
.d-border-tr-radius-0
	border-top-right-radius: 0 !important
.d-border-br-radius-0
	border-bottom-right-radius: 0 !important
.d-border-bl-radius-0
	border-bottom-left-radius: 0 !important

// Border Collapse
.d-border-collapse
	border-collapse: collapse;

// Borders
.d-border-white
	border: 1px solid #fff
.d-border-t-white
	border-top: 1px solid #fff !important
.d-border-r-white
	border-right: 1px solid #fff  !important
.d-border-b-white
	border-bottom: 1px solid #fff !important
.d-border-l-white
	border-left: 1px solid #fff !important
.d-border-brightest
	border: 1px solid $colorBrightest
.d-border-lightest
	border: 1px solid $colorLightest
.d-border-t-lightest
	border-top: 1px solid $colorLightest !important
.d-border-r-lightest
	border-right: 1px solid $colorLightest !important
.d-border-b-lightest
	border-bottom: 1px solid $colorLightest !important
.d-border-l-lightest
	border-left: 1px solid $colorLightest !important
.d-border-lighter
	border: 1px solid $colorLighter
.d-border-t-lighter
	border-top: 1px solid $colorLighter !important
.d-border-r-lighter
	border-right: 1px solid $colorLighter !important
.d-border-b-lighter
	border-bottom: 1px solid $colorLighter !important
.d-border-l-lighter
	border-left: 1px solid $colorLighter !important
.d-border-light
	border: 1px solid $colorLight
.d-border-t-light
	border-top: 1px solid $colorLight !important
.d-border-r-light
	border-right: 1px solid $colorLight !important
.d-border-b-light
	border-bottom: 1px solid $colorLight !important
.d-border-l-light
	border-left: 1px solid $colorLight !important
.d-border-dark
	border: 1px solid $colorDark
.d-border-t-dark
	border-top: 1px solid $colorDark !important
.d-border-r-dark
	border-right: 1px solid $colorDark !important
.d-border-b-dark
	border-bottom: 1px solid $colorDark !important
.d-border-l-dark
	border-left: 1px solid $colorDark !important
.d-border-darker
	border: 1px solid $colorDarker
.d-border-t-darker
	border-top: 1px solid $colorDarker !important
.d-border-r-darker
	border-right: 1px solid $colorDarker !important
.d-border-b-darker
	border-bottom: 1px solid $colorDarker !important
.d-border-l-darker
	border-left: 1px solid $colorDarker !important
.d-border-darkest
	border: 1px solid $colorDarkest
.d-border-t-darkest
	border-top: 1px solid $colorDarkest !important
.d-border-r-darkest
	border-right: 1px solid $colorDarkest !important
.d-border-b-darkest
	border-bottom: 1px solid $colorDarkest !important
.d-border-l-darkest
	border-left: 1px solid $colorDarkest !important
.d-border-orange
	border: 1px solid $primaryOrangeColor
.d-border-t-orange
	border-top: 1px solid $primaryOrangeColor !important
.d-border-r-orange
	border-right: 1px solid $primaryOrangeColor !important
.d-border-b-orange
	border-bottom: 1px solid $primaryOrangeColor !important
.d-border-l-orange
	border-left: 1px solid $primaryOrangeColor !important
.d-border-green
	border: 1px solid $primaryGreenColor
.d-border-t-green
	border-top: 1px solid $primaryGreenColor !important
.d-border-r-green
	border-right: 1px solid $primaryGreenColor !important
.d-border-b-green
	border-bottom: 1px solid $primaryGreenColor !important
.d-border-l-green
	border-left: 1px solid $primaryGreenColor !important
.d-border-red
	border: 1px solid $primaryRedColor !important
.d-border-t-red
	border-top: 1px solid $primaryRedColor !important
.d-border-r-red
	border-right: 1px solid $primaryRedColor !important
.d-border-b-red
	border-bottom: 1px solid $primaryRedColor !important
.d-border-l-red
	border-left: 1px solid $primaryRedColor !important

// Border Styles
.d-border-dashed
	border-style: dashed
.d-border-t-dashed
	border-top-style: dashed !important
.d-border-r-dashed
	border-right-style: dashed !important
.d-border-b-dashed
	border-bottom-style: dashed !important
.d-border-l-dashed
	border-left-style: dashed !important
.d-border-solid
	border-style: solid
.d-border-t-solid
	border-top-style: solid !important
.d-border-r-solid
	border-right-style: solid !important
.d-border-b-solid
	border-bottom-style: solid !important
.d-border-l-solid
	border-left-style: solid !important
.d-border-dotted
	border-style: dotted
.d-border-t-dotted
	border-top-style: dotted !important
.d-border-r-dotted
	border-right-style: dotted !important
.d-border-b-dotted
	border-bottom-style: dotted !important
.d-border-l-dotted
	border-left-style: dotted !important
.d-border-none
	border: none
.d-border-t-none
	border-top: none !important
.d-border-r-none
	border-right: none !important
.d-border-b-none
	border-bottom: none !important
.d-border-l-none
	border-left: none !important

// Border Widths
.d-border-1px
	border-width: 1px !important
.d-border-t-1px
	border-top-width: 1px !important
.d-border-r-1px
	border-right-width: 1px !important
.d-border-b-1px
	border-bottom-width: 1px !important
.d-border-l-1px
	border-left-width: 1px !important
.d-border-2px
	border-width: 2px !important
.d-border-t-2px
	border-top-width: 2px !important
.d-border-r-2px
	border-right-width: 2px !important
.d-border-b-2px
	border-bottom-width: 2px !important
.d-border-l-2px
	border-left-width: 2px !important
.d-border-5px
	border-width: 5px !important
.d-border-t-5px
	border-top-width: 5px !important
.d-border-r-5px
	border-right-width: 5px !important
.d-border-b-5px
	border-bottom-width: 5px !important
.d-border-l-5px
	border-left-width: 5px !important

// Z Index
.d-z-index-10
	z-index: 10
.d-z-index-20
	z-index: 20
.d-z-index-30
	z-index: 30
.d-z-index-40
	z-index: 40
.d-z-index-50
	z-index: 50
.d-z-index-60
	z-index: 60
.d-z-index-70
	z-index: 70
.d-z-index-80
	z-index: 80
.d-z-index-90
	z-index: 90
.d-z-index-100
	z-index: 100
.d-z-index-150
	z-index: 150
.d-z-index-200
	z-index: 200
.d-z-index-250
	z-index: 250
.d-z-index-500
	z-index: 500
.d-z-index-infinite
	z-index: 9999

// Width Percent
.d-width-auto
	width: auto
.d-width-10\%
	width: 10%
.d-width-20\%
	width: 20%
.d-width-25\%
	width: 25%
.d-width-30\%
	width: 30%
.d-width-33\%
	width: 33.33%
.d-width-40\%
	width: 40%
.d-width-50\%
	width: 50%
.d-width-half
	width: 50%
.d-width-60\%
	width: 60%
.d-width-70\%
	width: 70%
.d-width-75\%
	width: 75%
.d-width-80\%
	width: 80%
.d-width-90\%
	width: 90%
.d-width-100\%
	width: 100%
.d-width-full
	width: 100%
.d-width-featured-products
	width: calc(100% - 12px)

// Width Pixels
.d-width-10px
	width: 10px
.d-width-14px
	width: 14px
.d-width-20px
	width: 20px
.d-width-25px
	width: 25px
.d-width-30px
	width: 30px
.d-width-40px
	width: 40px
.d-width-50px
	width: 50px
.d-width-60px
	width: 60px
.d-width-80px
	width: 80px
.d-width-100px
	width: 100px
.d-width-120px
	width: 120px
.d-width-150px
	width: 150px
.d-width-160px
	width: 160px
.d-width-200px
	width: 200px
.d-width-220px
	width: 220px
.d-width-230px
	width: 230px
.d-width-250px
	width: 250px
.d-width-265px
	width: 265px
.d-width-270px
	width: 270px
.d-width-300px
	width: 300px
.d-width-350px
	width: 350px
.d-width-400px
	width: 400px
.d-width-500px
	width: 500px
.d-width-600px
	width: 600px
.d-width-700px
	width: 700px
.d-width-800px
	width: 800px
.d-width-900px
	width: 900px

// Max Width
.d-max-width-300px
	max-width: 300px
.d-max-width-500px
	max-width: 500px
.d-max-width-100\%
	max-width: 100%
.d-max-width-full
	max-width: 100%

// Min Width
.d-min-width-100\%
	min-width: 100%
.d-min-width-full
	min-width: 100%

// Heights
.d-height-auto
	height: auto
.d-height-4px 
	height: 4px	
.d-height-10px
	height: 10px
.d-height-14px
	height: 14px
.d-height-20px
	height: 20px
.d-height-25px
	height: 25px
.d-height-30px
	height: 30px
.d-height-40px
	height: 40px
.d-height-50px
	height: 50px
.d-height-60px
	height: 60px
.d-height-80px
	height: 80px
.d-height-100px 
	height: 100px
.d-height-120px 
	height: 120px
.d-height-140px 
	height: 140px
.d-height-150px 
	height: 150px
.d-height-170px 
	height: 170px
.d-height-180px
	height: 180px
.d-height-200px
	height: 200px
.d-height-210px
	height: 210px
.d-height-220px
	height: 220px
.d-height-230px
	height: 230px
.d-height-250px	
	height: 250px
.d-height-260px	
	height: 260px
.d-height-300px
	height: 300px
.d-height-350px
	height: 350px
.d-height-370px
	height: 370px
.d-height-380px
	height: 380px
.d-height-400px
	height: 400px
.d-height-420px
	height: 420px
.d-height-438px
	height: 438px
.d-height-600px
	height: 600px
.d-height-100\%
	height: 100%
.d-height-full
	height: 100%
.d-height-100vh
	height: 100vh

// Min Height
.d-min-height-250px
	min-height: 250px

// Max Height
.d-max-height-100\%
	max-height: 100%
.d-max-height-full
	max-height: 100%
.d-max-height-80px
	max-height: 80px
.d-max-height-100px
	max-height: 100px
.d-max-height-150px
	max-height: 150px
.d-max-height-200px
	max-height: 200px
.d-max-height-210px
	max-height: 210px
.d-max-height-250px
	max-height: 250px
.d-max-height-300px
	max-height: 300px
.d-max-height-400px
	max-height: 400px
.d-max-height-600px
	max-height: 600px

// Margin
.d-margin-auto
	margin: auto
.d-margin-0
	margin: 0
.d-margin-t-0
	margin-top: 0 !important
.d-margin-r-0
	margin-right: 0 !important
.d-margin-b-0
	margin-bottom: 0 !important
.d-margin-l-0
	margin-left: 0 !important
.d-margin-2px
	margin: 2px
.d-margin-t-2px
	margin-top: 2px !important
.d-margin-r-2px
	margin-right: 2px !important
.d-margin-b-2px
	margin-bottom: 2px !important
.d-margin-l-2px
	margin-left: 2px !important
.d-margin-4px
	margin: 4px
.d-margin-t-4px
	margin-top: 4px !important
.d-margin-r-4px
	margin-right: 4px !important
.d-margin-b-4px
	margin-bottom: 4px !important
.d-margin-l-4px
	margin-left: 4px !important
.d-margin-5px
	margin: 5px
.d-margin-t-5px
	margin-top: 5px !important
.d-margin-r-5px
	margin-right: 5px !important
.d-margin-b-5px
	margin-bottom: 5px !important
.d-margin-l-5px
	margin-left: 5px !important
.d-margin-10px
	margin: 10px
.d-margin-t-10px
	margin-top: 10px !important
.d-margin-r-10px
	margin-right: 10px !important
.d-margin-b-10px
	margin-bottom: 10px !important
.d-margin-l-10px
	margin-left: 10px !important
.d-margin-20px
	margin: 20px
.d-margin-t-20px
	margin-top: 20px !important
.d-margin-r-20px
	margin-right: 20px !important
.d-margin-b-20px
	margin-bottom: 20px !important
.d-margin-l-20px
	margin-left: 20px !important
.d-margin-30px
	margin: 30px
.d-margin-t-30px
	margin-top: 30px !important
.d-margin-r-30px
	margin-right: 30px !important
.d-margin-b-30px
	margin-bottom: 30px !important
.d-margin-l-30px
	margin-left: 30px !important
.d-margin-40px
	margin: 40px
.d-margin-t-40px
	margin-top: 40px !important
.d-margin-r-40px
	margin-right: 40px !important
.d-margin-b-40px
	margin-bottom: 40px !important
.d-margin-l-40px
	margin-left: 40px !important
.d-margin-50px
	margin: 50px
.d-margin-t-50px
	margin-top: 50px !important
.d-margin-r-50px
	margin-right: 50px !important
.d-margin-b-50px
	margin-bottom: 50px !important
.d-margin-l-50px
	margin-left: 50px !important
.d-margin-t-18px
	margin-top: 18px !important
.d-margin-r-170px
	margin-right: 170px !important
.d-margin-t-60px
	margin-top: 60px !important
.d-margin-t-140px
	margin-top: 140px !important
.d-margin-t-160px
	margin-top: 160px !important
.d-margin-t-170px
	margin-top: 170px !important
.d-margin-t-240px
	margin-top: 240px !important
.d-margin-t-130px
	margin-top: 130px !important
.d-margin-t-70px
	margin-top: 70px !important
.d-margin-l-full\:neg 
	margin-left: -100% !important
.d-margin-r-20px\:neg
	margin-right: -20px !important

// Padding
.d-padding-110px
	padding: 110px
.d-padding-t-110px
	padding-top: 110px !important
.d-padding-r-110px
	padding-right: 110px !important
.d-padding-b-110px
	padding-bottom: 110px !important
.d-padding-l-110px
	padding-left: 110px !important
.d-padding-80px
	padding: 80px
.d-padding-t-80px
	padding-top: 80px !important
.d-padding-r-80px
	padding-right: 80px !important
.d-padding-b-80px
	padding-bottom: 80px !important
.d-padding-l-80px
	padding-left: 80px !important
.d-padding-t-60px
	padding-top: 60px !important
.d-padding-r-60px
	padding-right: 60px !important
.d-padding-b-60px
	padding-bottom: 60px !important
.d-padding-l-60px
	padding-left: 60px !important
.d-padding-40px
	padding: 40px
.d-padding-t-40px
	padding-top: 40px !important
.d-padding-r-40px
	padding-right: 40px !important
.d-padding-b-40px
	padding-bottom: 40px !important
.d-padding-l-40px
	padding-left: 40px !important
.d-padding-50px
	padding-50px
.d-padding-t-50px
	padding-top: 50px !important
.d-padding-r-50px
	padding-right: 50px !important
.d-padding-b-50px
	padding-bottom: 50px !important
.d-padding-l-50px
	padding-left: 50px !important
.d-padding-30px
	padding: 30px
.d-padding-t-30px
	padding-top: 30px !important
.d-padding-r-30px
	padding-right: 30px !important
.d-padding-b-30px
	padding-bottom: 30px !important
.d-padding-l-30px
	padding-left: 30px !important
.d-padding-20px
	padding: 20px
.d-padding-t-20px
	padding-top: 20px !important
.d-padding-r-20px
	padding-right: 20px !important
.d-padding-b-20px
	padding-bottom: 20px !important
.d-padding-l-20px
	padding-left: 20px !important
.d-padding-10px
	padding: 10px
.d-padding-t-10px
	padding-top: 10px !important
.d-padding-r-10px
	padding-right: 10px !important
.d-padding-b-10px
	padding-bottom: 10px !important
.d-padding-l-10px
	padding-left: 10px !important
.d-padding-7px
	padding: 7px
.d-padding-5px
	padding: 5px
.d-padding-t-5px
	padding-top: 5px !important
.d-padding-r-5px
	padding-right: 5px !important
.d-padding-b-5px
	padding-bottom: 5px !important
.d-padding-l-5px
	padding-left: 5px !important
.d-padding-2px
	padding: 2px
.d-padding-t-2px
	padding-top: 2px !important
.d-padding-r-2px
	padding-right: 2px !important
.d-padding-b-2px
	padding-bottom: 2px !important
.d-padding-l-2px
	padding-left: 2px !important
.d-padding-0
	padding: 0
.d-padding-t-0
	padding-top: 0 !important
.d-padding-r-0
	padding-right: 0 !important
.d-padding-b-0
	padding-bottom: 0 !important
.d-padding-l-0
	padding-left: 0 !important
 
// Float
.d-float-l
	float: left
.d-float-r
	float: right
.d-float-none
	float: none

// Box Shadows
.d-box-shadow-none
	box-shadow: none
.d-box-shadow-lightest
	box-shadow: 0 15px 15px -15px rgba(0, 0, 0, 0.40)
.hover\:d-box-shadow-lightest
	&:hover	
		box-shadow: 0 15px 25px -15px rgba(0, 0, 0, 0.30);
.d-box-shadow-orange
	box-shadow: 0 5px 10px -3px rgba(253,121,54,.35)
.hover\:d-box-shadow-orange
	&:hover
		box-shadow: 0 10px 15px -5px rgba(253,121,54,.35)
.d-box-shadow-green
	box-shadow: 0 5px 10px -3px rgba(55, 179, 25, .35)
.hover\:d-box-shadow-green
	&:hover
		box-shadow: 0 5px 10px -3px rgba(55, 179, 25, .35)

// Overflow
.d-overflow-hidden
	overflow: hidden
.d-overflow-visible
	overflow: visible
.d-overflow-auto
	overflow: auto
.d-overflow-scroll
	overflow: scroll
.d-overflow-y-hidden
	overflow-y: hidden
.d-overflow-y-visible
	overflow-y: visible
.d-overflow-y-auto
	overflow-y: auto
.d-overflow-y-scroll
	overflow-y: scroll
.d-overflow-x-hidden
	overflow-x: hidden
.d-overflow-x-visible
	overflow-x: visible
.d-overflow-x-auto
	overflow-x: auto
.d-overflow-x-scroll
	overflow-x: scroll
.d-visibility-hidden
	visibility: hidden
.d-visibility-visible
	visibility: visible

// Fonts Size
.d-font-size-8px
	font-size: 8px
.d-font-size-10px
	font-size: 10px
.d-font-size-12px
	font-size: 12px
.d-font-size-14px
	font-size: 14px
.d-font-size-16px
	font-size: 16px
.d-font-size-18px
	font-size: 18px
.d-font-size-20px
	font-size: 20px
.d-font-size-25px
	font-size: 25px
.d-font-size-30px
	font-size: 30px
.d-font-size-40px
	font-size: 40px
.d-font-size-50px
	font-size: 50px
.d-font-size-70px
	font-size: 70px
.d-font-size-75px
	font-size: 75px
.d-font-size-300px
	font-size: 300px

// Outline
.d-outline-none
	outline: none !important

// Transition
.d-transition-\.15
	transition: .15s ease-in-out;
.d-transition-\.25
	transition: .25s ease-in-out;

// Letter Spacing
.d-letter-spacing-0
	letter-spacing: 0px
.d-letter-spacing-1px
	letter-spacing: 1px
.d-letter-spacing-2px
	letter-spacing: 2px 

// Text Transform
.d-text-uppercase
	text-transform: uppercase
.d-text-lowercase
	text-transform: lowercase
.d-text-capitalize
	text-transform: capitalize

// Text Align
.d-text-align-r
	text-align: right
.d-text-align-l
	text-align: left
.d-text-align-center
	text-align: center

// Text Decoration
.d-text-decor-underline
	text-decoration: underline
.hover\:d-text-decor-underline
	&:hover 
		text-decoration: underline !important
.d-text-decor-none
	text-decoration: none
.hover\:d-text-decor-none
	&:hover 
		text-decoration: none !important

// Font Weight
.d-font-weight-normal
	font-weight: normal
.d-font-weight-400
	font-weight: 400
.d-font-weight-700
	font-weight: 700
.d-font-weight-800
	font-weight: 800
.d-font-weight-900
	font-weight: 900

// Font Style
.d-font-style-italic
	font-style: italic
.d-font-style-normal
	font-style: normal

// Font Color
.d-color-red
	color: $primaryRedColor
.hover\:d-color-red
	&:hover
		color: $primaryRedColor
.d-color-green
	color: $primaryGreenColor
.hover\:d-color-green
	&:hover
		color: $primaryGreenColor
.d-color-orange
	color: $primaryOrangeColor
.hover\:d-color-orange
	&:hover
		color: $primaryOrangeColor
.d-color-blue
	color: $primaryBlueColor
.hover\:d-color-blue
	&:hover
		color: $primaryBlueColor
.d-color-white
	color: #fff
.hover\:d-color-white
	&:hover
		color: #fff
.d-color-lightest
	color: $colorLightest
.hover\:d-color-lightest
	&:hover
		color: $colorLightest
.d-color-lighter
	color: $colorLighter
.hover\:d-color-lighter
	&:hover
		color: $colorLighter
.d-color-light
	color: $colorLight
.hover\:d-color-light
	&:hover
		color: $colorLight
.d-color-dark
	color: $colorDark
.hover\:d-color-dark
	&:hover
		color: $colorDark
.d-color-darker
	color: $colorDarker
.hover\:d-color-darker
	&:hover
		color: $colorDarker
.d-color-darkest
	color: $colorDarkest
.hover\:d-color-darkest
	&:hover
		color: $colorDarkest

// Align Self
.d-align-self-center
	align-self: center
.d-align-self-flex-end
	align-self: flex-end
.d-align-self-flex-start
	align-self: flex-start
.d-align-self-baseline
	align-self: baseline
.d-align-self-stretch
	align-self: stretch

// Align Items
.d-align-items-center	
	align-items: center
.d-align-items-flex-end
	align-items: flex-end
.d-align-items-flex-start
	align-items: flex-start
.d-align-items-baseline
	align-items: baseline
.d-align-items-stretch
	align-items: stretch

.d-align-content-flex-start
	align-content: flex-start
.d-align-content-flex-end
	align-content: flex-end
.d-align-content-center
	align-content: center
.d-align-content-space-between
	align-content: space-between
.d-align-content-space-around
	align-content: space-around
.d-align-content-stretch
	align-content: stretch

// Justify Content
.d-justify-content-center
	justify-content: center
.d-justify-content-flex-start
	justify-content: flex-start
.d-justify-content-flex-end
	justify-content: flex-end
.d-justify-content-space-between
	justify-content: space-between
.d-justify-content-space-around
	justify-content: space-around
.d-justify-content-space-evenly
	justify-content: space-evenly

// Justify Self
.d-justify-self-center
	justify-self: center
.d-justify-self-flex-start
	justify-self: flex-start
.d-justify-self-flex-end
	justify-self: flex-end

// Flex
.d-flex1
	flex: 1 1 auto
.d-flex0
	flex: 0 0 auto

// Flex Direction
.d-flex-column
	display: flex
	flex-direction: column
.d-flex-row
	display: flex
	flex-direction: row

// Flex Wrap
.d-flex-wrap
	flex-wrap: wrap;
.d-flex-nowrap
	flex-wrap: nowrap;

// Line Height
.d-line-height-\.75
	line-height: .75
.d-line-height-1
	line-height: 1
.d-line-height-1\.2
	line-height: 1.2
.d-line-height-1\.4
	line-height: 1.4
.d-line-height-2
	line-height: 2
.d-line-height-30px
	line-height: 30px
.d-line-height-40px
	line-height: 40px
.d-line-height-50px
	line-height: 50px

// Background Position
.d-bg-position-center
	background-position: center center

// Background Repeat
.d-bg-repeat-no-repeat
	background-repeat: no-repeat

// Background Size
.d-bg-size-cover
	background-size: cover
.d-bg-size-contain
	background-size: contain

// Background Colors
.d-bg-cubes
	background-image: url('/images/cubes.png')

.d-bg-color-none
	background-color: transparent

.d-bg-color-red
	background-color: $primaryRedColor
.hover\:d-bg-color-red
	&:hover
		background-color: $secondaryRedColor

.d-bg-color-orange
	background-color: $primaryOrangeColor
.hover\:d-bg-color-orange
	&:hover
		background-color: $primaryOrangeColor

.d-bg-color-orange-darker
	background-color: $secondaryOrangeColor	
.hover\:d-bg-color-orange-darker
	&:hover
		background-color: $secondaryOrangeColor	

.d-bg-color-green
	background-color: $primaryGreenColor
.hover\:d-bg-color-green
	&:hover
		background-color: $primaryGreenColor

.d-bg-color-green-lightest
	background-color: $lightestGreenColor

.d-bg-color-green-darker
	background-color: $secondaryGreenColor	
.hover\:d-bg-color-green-darker
	&:hover
		background-color: $secondaryGreenColor !important

.d-bg-color-green-darkest
	background-color: $tertiaryGreenColor	
.hover\:d-bg-color-green-darkest
	&:hover
		background-color: $tertiaryGreenColor		

.d-bg-color-blue
	background-color: $primaryBlueColor
.hover\:d-bg-color-blue
	&:hover
		background-color: $primaryBlueColor

.d-bg-color-transparent
	background-color: transparent

.d-bg-color-white
	background-color: #fff
.hover\:d-bg-color-white
	&:hover
		background-color: #fff

.d-bg-color-brightest
	background-color: $colorBrightest
.hover\:d-bg-color-brightest
	&:hover
		background-color: $colorBrightest

.d-bg-color-lightest
	background-color: $colorLightest
.hover\:d-bg-color-lightest
	&:hover
		background-color: $colorLightest

.d-bg-color-lighter
	background-color: $colorLighter
.hover\:d-bg-color-lighter
	&:hover
		background-color: $colorLighter

.d-bg-color-light
	background-color: $colorLight
.hover\:d-bg-color-light
	&:hover
		background-color: $colorLight

.d-bg-color-dark
	background-color: $colorDark
.hover\:d-bg-color-dark
	&:hover
		background-color: $colorDark

.d-bg-color-darker
	background-color: $colorDarker
.hover\:d-bg-color-darker
	&:hover
		background-color: $colorDarker

.d-bg-color-darkest
	background-color: $colorDarkest
.hover\:d-bg-color-darkest
	&:hover
		background-color: $colorDarkest

.d-bg-color-black-transparent-\.55
	background-color: rgba(0,0,0,.55)

.d-bg-color-black-transparent-\.65
	background-color: rgba(0,0,0,.65)

.d-bg-color-white-transparent-\.65
	background-color: rgba(255,255,255, .65)

// Displays
.d-block
	display: block
.d-inline-block
	display: inline-block
.d-inline
	display: inline
.d-none
	display: none

// Cursors
.d-cursor-pointer
	cursor: pointer
.d-cursor-text
	cursor: text
.d-cursor-not-allowed
	cursor: not-allowed

// Top Right Bottom Left
.d-top-10px\:neg
	top: -10px !important 
.d-right-10px\:neg
	right: -10px  !important
.d-top-20px\:neg
	top: -20px !important
.d-right-20px\:neg
	right: -20px !important
.d-top-0
	top: 0 !important
.d-right-0
	right: 0 !important
.d-left-0
	left: 0 !important
.d-bottom-0
	bottom: 0 !important
.d-top-10px
	top: 10px !important
.d-right-10px
	right: 10px !important
.d-bottom-10px
	bottom: 10px !important
.d-left-10px
	left: 10px !important
.d-right-20px
	right: 20px !important
.d-top-20px
	top: 20px !important
.d-left-20px
	left: 20px !important
.d-bottom-20px
	bottom: 20px !important

// Positions
.d-relative
	position: relative
.d-absolute
	position: absolute
.d-fixed
	position: fixed
.d-fixed-0
	position: fixed
	left: 0
	top: 0

//List Style
.d-list-style-none
	list-style-type: none

// Keyframes
@keyframes loading
	0%
		left: 0
	100%
		left: 100%

@keyframes line-loading
	0% 
		left: -150% 
	30%
	100% 
		left: 150%

// Animations
.d-loadingLine
	&::before
		content: ' '
		width: 150%;
		height: 5px;
		top: 0;
		left: 0;
		position: absolute;
		background-color: #f97735;
		left: -150%;
		animation: line-loading 1s linear infinite;


.d-loadingContentParent
	position: absolute
	width: 100%
	height: 100%
	background-color: transparent
	&::before
		content: ' '
		position: absolute
		top: 0
		left: 0
		width: 35%
		height: 100%
		background: linear-gradient(to right, #eee, #ddd 20%, #eee 65%)
		// background-color: $primaryOrangeColor; 
		animation: .75s infinite ease-in loading

//Text Spacing
.d-letter-spacing-1px
	letter-spacing: 1px
.d-letter-spacing-2px
	letter-spacing: 2px

// Presets Classes
.d-auction-menu
	border: 1px solid $colorLightest
	border-right: none
	background-color: #fff
	padding:  0 0 0 20px
	line-height: 40px
	color: $colorDark
	display: block
	&:hover
		background-color: $colorLightest 

.d-breadcrumbs
	font-size: 14px
	padding: 5px 10px
	background-color: 1px solid $colorLightest
	border: 1px solid $colorLighter
	border-radius: 20px
	color: $colorDark
	line-height: 2.2

.d-button
	cursor: pointer
	display: block
	text-align: center
	border-radius: 2px
	padding: 5px 20px
	font-size: 14px

.d-input
	border-radius: 2px
	box-sizing: border-box
	width: 100%
	font-size: 14px
	padding: 5px 10px
	border: 1px solid $colorLightest

.d-h1
	color: $colorDark
	font-weight: 400
	font-size: 25px
	margin: 0

.d-h1-border-b
	border-bottom: 1px solid $colorLightest
	padding-bottom: 10px
	margin-bottom: 10px


.d-badge 
	color: white
	font-size: 12px
	border-radius: 2px
	padding: 2px 5px
	display: flex
	flex-direction: row	

.d-box
	padding: 20px

$sm-width: '420px'

@media screen and (max-width: $sm-width)
	.sm\:d-max-height-100px
		max-height: 100px
		
	.sm\:d-h1
		margin: 0
		padding: 0
		font-size: 20px
		font-weight: 800
		border-bottom: none
		color: $colorDark

	.sm\:d-auction-menu
		padding: 10px 0
		display: block
		text-align: center
		color: $colorDark
		border-bottom: 2px solid #fff !important

	.sm\:d-sidebar-menu
		margin-top: 10px
		padding: 5px
		width: 100%
		display: flex
		flex-direction: row
		justify-content: center
		color: $colorDark
		font-size: 16px

	.sm\:d-padding-110px
		padding: 110px
	.sm\:d-padding-t-110px
		padding-top: 110px !important
	.sm\:d-padding-r-110px
		padding-right: 110px !important
	.sm\:d-padding-b-110px
		padding-bottom: 110px !important
	.sm\:d-padding-l-110px
		padding-left: 110px !important

	.sm\:d-padding-80px
		padding: 80px
	.sm\:d-padding-t-80px
		padding-top: 80px !important
	.sm\:d-padding-r-80px
		padding-right: 80px !important
	.sm\:d-padding-b-80px
		padding-bottom: 80px !important
	.sm\:d-padding-l-80px
		padding-left: 80px !important
